docker.enabled = true
singularity.enabled = false

process {
    container = 'ubuntu:latest'

    withName: FASTQC {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }
    withName: BWA_ALIGN {
        container = 'quay.io/biocontainers/bwa:0.7.17--h5bf99c6_8'
    }
    withName: GATK_HC {
        container = 'broadinstitute/gatk:4.2.6.1'
    }
    withName: ADMIXTURE {
        container = 'quay.io/biocontainers/admixture:1.3.0--h516909a_1'
    }
    withName: 'PREPARE_DATA|TRAIN_MODEL|PREDICT' {
        container = 'tensorflow/tensorflow:latest-gpu'
    }
}
